#game {
    display: inline-block;
}

.extras {
    display: inline-block;
    vertical-align: top;
}


div#config label {
    display: block;
}

td {
  border: 1px solid;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #fff;
  transition: 1s all;
}
.mina{
  background-color: red;
}
